.container {
}

.container .heros {
    display: flex;
    flex-wrap: wrap;
    background-color: pink;
    justify-content: center;
    /*justify-content: 자식 태그들 중앙 수평 정렬 */
    width: 700px;
    margin: 0 auto;
    /* margin auto : 자기자신 페이지 가운데 정렬 */
    padding: 40px 20px;
}

.container .heros .hero {
    margin: 4px;
    width: 80px;
    height: 84px;
    background-color: gray;
    border: 3px solid white;
    transform: skewX(-14deg);
    border-radius: 10px;
    box-sizing: border-box;
    /* border 설정으로 커진 요소를 제한한다. */
    transition: transform 0.1s, background-color 0.2s;
}

.container .heros .hero:hover {
    background-color: #ff9c00;
    transform: scale(1.3) skewX(-14deg);
    z-index: 1;
}

.container .heros .hero .image {
}
